/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.post_form {
  fieldset {
    //background: #f1f1f1;
    background:rgba(255,255,255,0.5);
    box-shadow: 5px 5px 5px #000000;
    
    
    -moz-border-radius-bottomleft:7px;
	  -webkit-border-bottom-left-radius:7px;
	  border-bottom-left-radius:7px;
	
	  -moz-border-radius-bottomright:7px;
	  -webkit-border-bottom-right-radius:7px;
	  border-bottom-right-radius:7px;
	
    -moz-border-radius-topright:7px;
	  -webkit-border-top-right-radius:7px;
	  border-top-right-radius:7px;
	
	  -moz-border-radius-topleft:7px;
	  -webkit-border-top-left-radius:7px;
	  border-top-left-radius:7px;
  
  legend {
    color: #ffffff;
    background: #000000;
    font-family: sans-serif;
    padding: 0.2em 1em;
    text-align: center;
    
	  -moz-border-radius-topright:7px;
	  -webkit-border-top-right-radius:7px;
	  border-top-right-radius:7px;
	
	  -moz-border-radius-topleft:7px;
	  -webkit-border-top-left-radius:7px;
	  border-top-left-radius:7px;
  }
}

form{
  label{
    width: 5em;
    float: left;
    text-align: left;
    padding-top: 0.2em;
    margin-right: 2em;
    display: block;
  }
  
  select, textarea, input {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .submit {
    margin-top: 0.5em;
    margin-left: 2em;
  }
  
  br{
    display: none
  }
 }
 
}

.container1 {
     margin: auto;
     width: 40%;
     border: 1px solid grey;
     height: 750px;
     overflow: auto;
     background:rgba(255,255,255,0.6);
     
     box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
    -webkit-box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
    -moz-box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
    -o-box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
 }
 
.container2 {
    margin: auto;
    width: 35%;
}

.container {
  margin: auto;
  width: 80%;
}

.container3 {
     margin: auto;
     width: 100%;
     border: 1px solid grey;
     height: 750px;
     overflow: auto;
     background-color: #b0b0b0;
     
     box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
    -webkit-box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
    -moz-box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
    -o-box-shadow: inset 0px 0px 7px 1px #000000,0px -2px 5px -100px #B3B3B3;
 }


.container_login {
  margin: auto;
  width: 37%;
  //border: 1px solid white;
  padding-top: 10%;
}

.container_signup {
  margin: auto;
  width: 37%;
  //border: 1px solid white;
  padding-top: 5%;
}

.containerPaginate{
  margin: auto;
    width: 40%;
    text-align: center;
    font-size: 15px;
    color: black;
}

.containerNewButton{
  margin: auto;
    width: 40%;
    text-align: left;
    font-size: 15px;
    margin-bottom: .6em;
}

html, body {
    margin: auto;
    width: 100%;
    background-image: url("/assets/city.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-color: #4d4d4d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
 h1{
   color: white;
 }
  
back_button{
    margin: auto;
    padding-bottom: 2em;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.form-text {
  text-align: left;
  color: white;
}

.settings-logo {
  width: 35px; 
  height: 40px; 
  padding-top: 10px;
}

.messages {
  margin: 0;
}