@import "bootstrap-sprockets";
@import "bootstrap";

ul.nav > li > a:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-style: none;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-primary:hover {
    color: white;
    background-color: black;
    border-color: grey;
}


.btn-primary:focus {
    background: black;
    border-color: red;
}    

.btn-primary:active {
    background: black !important; 
    border-color: red;
}

.list-group-item {
    border-color:black;
}

.form-control{
    border-color:black;
}

.text-form{
    font-color: white;
}